.CFUserTextEncoding
.DS_Store
.config/iterm2/
.viminfo
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
from_apple_buj/
sss/.gitignore
sss/anniversary_anxiety.jay
sss/clio.jay
sss/config/
sss/ideas/
sss/story/
sss/typesetting_templates/
tmp/
unix_home/
